<ion-view view-title="产品与服务">
  <ion-content class="padding">
    <!-- 卡片一 -->
    <div class="list card margin-top-0">
      <div class="item item-avatar">
        <img src="img/kdbm_logo.png">
        <h2>快点报名</h2>
        <p>ipad版本@2015</p>
      </div>
      <div class="item item-body">
        <img class="full-width" src="img/kuaidian_home.png">
        <p class="no-margin">
          快点是一款面向小型培训机构的移动报名管理工具，可以实现现场报名、签到、缴费、培训进度查看、经营状况统计等功能，
          适合跆拳道、游泳馆、儿童辅导班等有现场活动报名的机构。目前可以在app store下载ipad版本，用户注册后可以实现数据备份功能。
        </p>
      </div>
    </div>
    <!-- 卡片二 -->
    <div class="list card ">
      <div class="item item-avatar">
        <img src="img/yucai_logo.png">
        <h2>红蜻蜓教育经营</h2>
        <p>Web版本@2016</p>
      </div>
      <div class="item item-body">
        <img class="full-width" src="img/hongqt_home.jpg">
        <p class="">
          红蜻蜓教育经营管理系统是面向中小型培训学校日常经营的得力助手，主要解决培训机构的两大问题，一个是学生考勤统计，
          另一个是侧重财务方面的经营统计，以解决培训学校教师工资实时计算、经营效果分析，经营状态，亏损盈利情况一目了然。
          目前该产品处于试点运营阶段，欢迎有兴趣的校长与我方联系。
        </p>
      </div>
    </div>
    <!-- 卡片三 -->
    <div class="list card ">
      <div class="item item-avatar">
        <img src="img/yanhuang_logo.png">
        <h2>炎黄春秋客户端</h2>
        <p>@2016</p>
      </div>
      <div class="item item-body">
        <img class="" src="img/yanhuang_home.jpg">
        <p class="">
          炎黄春秋杂志是国内有影响力的纪实型刊物，其独立性和权威性著称于海内外，深得广大热爱历史和时政类文章读者的喜爱。
          在移动互联网时代，该杂志社锐意进取，积极抓住机遇，充分利用新时代的技术传播手段，为众多年轻读者提供了一款简洁朴实的移动客户端，
          为习惯电子阅读的年轻读者了解历史知识，关心时政打开了一扇新的窗户。
        </p>
      </div>
    </div>
    <!-- 卡片四 -->
    <div class="list card ">
      <div class="item item-avatar">
        <img src="img/aplan_logo.jpg">
        <h2>A计划</h2>
        <p>v2@2016</p>
      </div>
      <div class="item item-body">
        <img class="" src="img/aplan_home.jpg">
        <p class="">
          A计划是一个面向活动组织者提供的管理工具，通过该工具可以进行日程的的安排、活动前的各种准备、行程的提醒设置，
          而且还可以与活动参与者在应用内交流，交友。这是我公司与另外一家创业公司合作的产品，目前已经上线运营。
        </p>
      </div>
    </div>
    <!-- 卡片五 -->
  </ion-content>
</ion-view>
