<ion-view view-title="联系我们">
  <ion-content class="stable-bg">
    <div class="list">
      <div class="item item-divider">
        公司简介
      </div>
      <a class="item item-thumbnail-left item-text-wrap padding-bottom-8px" href="#">
        <img src="img/logo_128.png">
        <h2 class="margin-bottom-10px">北京远博畅享科技有限公司</h2>
        <p class="small-font">
          是一家从事移动应用产品开发的软件公司，目前服务于教育行业、媒体行业，为客户提供基于跨平台解决方案的移动端产品。
        </p>
      </a>
      <div class="item item-divider">
        公司员工
      </div>
      <a class="item item-avatar" href="#">
        <img src="img/me_64.jpg">
        <h2>李文智</h2>
        <p>技术总监，负责产品策划与架构开发</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/zhangbo_64.jpg">
        <h2>张波</h2>
        <p>设计总监，负责产品UI设计与品牌推广</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/juanjuan_64.jpg">
        <h2>王娟</h2>
        <p>财务总监，负责公司财务与客户关系</p>
      </a>
      <div class="item item-divider">
        联系方式
      </div>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i>
        18611398479
      </a>
      <a class="item item-icon-left" href="#">
        <i class="icon ion-email"></i>
        626528719@qq.com
      </a>

    </div>
  </ion-content>
</ion-view>
