<ion-view view-title="今日({{todayName}})限行尾号">
  <ion-content class="padding">
    <div class="list card margin-top-0">
      <!-- <div class="item item-divider">今日限行尾号</div> -->
      <div class="item item-body">
        <div class="center margin-top-20">
           <span class="large-font red ">{{todayNums.toString()}}</span>
        </div>
        <p class="traffic-ctrl-period">
          有效期为：<br>{{validPeriod}}
        </p>
      </div>
      <!-- <div class="item item-icon-left">
        <i class="icon ion-loop"></i>更新有效期
      </div> -->
    </div>
    <div class="list card">
      <div class="item item-divider">单双号限行吗</div>
      <div class="item item-toggle">
        是就点一下右边
        <label class="toggle toggle-assertive">
          <input type="checkbox" ng-model=car.halfstop ng-change="showHalfStop()">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">今日可行车辆</div>
      <div class="item padding-10">
        <div class="list">
          <div class="item item-button-right" ng-repeat="car in availableCars">
            {{car.carnumber}}
            <button class="button button-positive button-clear" ng-click="dispatch(car)">
              {{car.status?'已派':'派车'}}
            </button>
          </div>
          <p class="advanced-panel" ng-if="!availableCars.length">
            {{totalCars.length?'一个都没有':'您需要在车辆管理中添加'}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
