<ion-view view-title="关于限行宝">
  <!-- <ion-content class="stable-bg"> -->
  <ion-content >
    <div class="logo-ctnr">
      <img src="img/icon-72.png" class="center">
      <div class="version-ctnr">
        <div class="version-txt padding-top-6">限行宝 v1.0</div>
      </div>
    </div>
    <p class="description">
      <strong>限行宝</strong>是一款来自<font color="#00f">远博畅享</font>的免费产品，该产品旨在通过极简的设计，
      为拥有多辆机动车的单位或者个人提供一个简单有趣的工具，以解决北京限行政策下车辆安排问题；
    </p>
    <div class="list">
      <a class="item  item-icon-right" href="#">
        更多产品...
        <i class="icon ion-ios-arrow-right dark-less"></i>
      </a>
      <a class="item item-icon-right" href="#">
        联系我们
        <i class="icon ion-ios-arrow-right dark-less"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
