/* Empty. Add your own CSS if you like */
.block {
  display: block;
}

.large-font {
  font-size: 64px;
}

.large-font-ls {
  font-size: 48px;
}

.red {
  color: #FF0000;
}

.dark-less {
  color: #999;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-10px {
  margin-bottom: 10px;
}

.padding-10 {
  padding: 10px;
}

.padding-top-6 {
  padding-top: 6px;
}

.logo-ctnr {
  position: relative;
  margin: 50px auto;
  max-width: 240px;
  height: 96px;
  /*background: #ccc;*/
}

img.center {
  display:block;
  margin:0 auto;
}

.version-ctnr {
  width: 100%;
  height: 24px;
  /*background: #ddd;*/
  text-align: center;
}

.version-txt {
  font-size: 12px;
  color: #666;
}

.description {
  margin:0 24px; font-size:12px;
  padding: 0 10px 20px 10px;
}

/* for slick carousel component @2016/03/30 */

.slick-ctnr h3 {
    /*background: #33cd5f;*/
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    margin: 10px;
    padding: 2%;
    position: relative;
    text-align: center;
}

.center-mode .slick-center h3 {
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    -webkit-transform: scale(1.08);
    /*color: #e67e22;*/
    opacity: 1;
    transform: scale(1.08);
}

.center-mode h3 {
    opacity: 0.8;
    transition: all 300ms ease;
}

.slick-prev
{
    left: -23px;
}
.slick-next
{
    right: -23px;
}


/* end of slick carousel */
